@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-carousel .slick-dots li.slick-active button {
 background-color: #F8634A;
}

.ant-carousel .slick-dots li button:hover {
  background-color: #F8634A;
 }

.slick-list {margin: 0 -10px;}
.slick-slide>div {padding: 0 10px;}
