@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.swal2-title {
  color: white !important;
}

html,
body,
#__next {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  justify-content: center;
  display: flex;
  height: calc((var(--vh, 1vh) * 100));
  background-color: #15141f;
}

div:focus-visible{
  outline: none;
  border: none;
}
ul {
  list-style-type:  disc;
  list-style-position: inside
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  color: #fffffd;
}

.swal2-popup {
  box-shadow: none !important;
}

a {
  cursor: pointer;
}

.padding-containter {
  padding-top: 10px !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #f8634a;
}

.ant-carousel .slick-dots li button:hover {
  background-color: #f8634a;
}

.slick-list {
  margin: 0 -10px;
}
.slick-slide > div {
  padding: 0 10px;
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
  border-width: 1px;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-color: #646464 !important;
  margin-right: 5px;
  font-size: 15px;
  padding-top: 2px;
  color: rgba(0, 0, 0, 0);
  content: " \2713  ";
  text-align: center;
}

button:focus {
  outline: none;
}

input[type="checkbox"]:checked + label:before {
  color: #f8634a;
}

.playerButtons:hover > .svgStroke {
  stroke: white;
  stroke-opacity: 1;
}

.swiper-slide {
  height: auto !important;
}

.playerButtons:hover > .svgFill {
  fill: white;
  fill-opacity: 1;
}

.playerButtons:hover > .wrapper {
  fill: #f8634a;
  fill-opacity: 1;
}

.bottomFade {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 75%);
}

.partner-card:hover .partner-image{
  transform: scale(1.05);
  transition: all 0.4s;
}

.partner-image
{
  transform: scale(1);
}

.styled-scroll::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }
  
  .styled-scroll::-webkit-scrollbar-track {
  background-color:transparent
  }
  
  .styled-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#F8634A;
  }
  
  .styled-scroll::-webkit-scrollbar-thumb:hover{
  background-color:#F8634A;
  }
  
  .styled-scroll::-webkit-resizer{
  background-repeat:no-repeat;
  width:4px;
  height:0px
  }
  
  .styled-scroll::-webkit-scrollbar{
  width: 4px;
  }

.loading-points::after{
  content: ""; 
  animation: loading 2.5s linear infinite;
}

@keyframes loading {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 1px 1px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 1px 0 0 1px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 3px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 11.5px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 20px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 0px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 0px;
  top: 14px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 14px;
}

.search-container
{
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
}

.search-container.open
{
  transform: translateY(0%);
}
